<div>
  <ul
    class="mb-5 grid gap-2.5 font-sparkasse_rg text-[14px] leading-none md:mb-9 md:grid-cols-3 smOnly:grid-rows-3">
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich bin Angestellte*r.
      </button>
    </li>
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich bin Beamte*r.
      </button>
    </li>
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich bin selbstständig tätig und befinde mich daher nicht in einem Beschäftigungsverhältnis.
      </button>
    </li>
  </ul>
</div>

<!-- code for 4 buttons -->
<div>
  <ul
    class="mx-auto mb-5 grid max-w-[600px] gap-2.5 font-sparkasse_rg text-[14px] leading-none md:mb-9 md:grid-cols-2 smOnly:grid-rows-3">
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich wünsche mir einen guten Lebensstandard und finanzielle Sicherheit.
      </button>
    </li>
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich möchte eine Familie gründen und unbesorgt leben.
      </button>
    </li>
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Ich möchte viel erleben, mein Leben genießen und die Welt bereisen.
      </button>
    </li>
    <li>
      <button
        type="button"
        class="h-full w-full rounded-[10px] bg-gray-200 px-2.5 py-5 active:bg-gray-600">
        Keine der oben genannten Antwortmöglichkeiten trifft zu.
      </button>
    </li>
  </ul>
</div>
