<ul class="mx-auto mb-5 grid gap-4 md:mb-10 md:gap-[50px] xl:mb-[50px] smOnly:max-w-[400px]">
  <li>
    <div class="flex items-center gap-5 bg-gray-700 px-5 py-[5px]">
      <img
        class="md:h-[40px] md:w-[40px]"
        src="./img/svg/ic-card.svg"
        alt="icon arrow right"
        width="20"
        height="20"
        loading="lazy" />
      <h3 class="font-sparkasse_rg text-[14px] leading-none text-white md:text-[18px]">
        Sehr schlecht informiert
      </h3>
    </div>
    <div class="bg-white md:grid md:grid-cols-2">
      <picture>
        <source
          srcset="/img/card-component/1.webp 1x, /img/card-component/1@2x.webp 2x"
          type="image/webp" />
        <img
          src="/img/card-component/1.png"
          srcset="/img/card-component/1.png 1x, /img/card-component/1@2x.png 2x"
          alt="Whiteboard mit Aufklebern"
          class="w-full xl:w-[480px]"
          width="480"
          height="241" />
      </picture>
      <p class="p-4 text-[14px] leading-none md:px-5 md:py-8 xl:py-[49px] xl:text-[18px]">
        Ihr Check hat ergeben, dass Sie sehr schlecht über Ihre Zukunftsabsicherung informiert sind.
        Daran sollten Sie unbedingt etwas ändern, denn eine gute Vorsorge ist auch schon im jungen
        Alter wichtig. Es gibt gute Gründe, jetzt damit zu beginnen: Mit jedem Jahr, das Sie warten,
        müssen Sie mehr aufwenden, um finanziell unabhängig zu bleiben.
      </p>
    </div>
  </li>
  <li>
    <div class="flex items-center gap-5 bg-gray-700 px-5 py-[5px]">
      <img
        class="md:h-[40px] md:w-[40px]"
        src="./img/svg/ic-card.svg"
        alt="icon arrow right"
        width="20"
        height="20"
        loading="lazy" />
      <h3 class="font-sparkasse_rg text-[14px] leading-none text-white md:text-[18px]">
        Angestellte
      </h3>
    </div>
    <div class="bg-white md:grid md:grid-cols-2">
      <picture>
        <source
          srcset="/img/card-component/2.webp 1x, /img/card-component/2@2x.webp 2x"
          type="image/webp" />
        <img
          src="/img/card-component/2.png"
          srcset="/img/card-component/2.png 1x, /img/card-component/2@2x.png 2x"
          alt="Whiteboard mit Aufklebern"
          class="w-full xl:w-[480px]"
          width="480"
          height="241" />
      </picture>
      <p
        class="row-start-1 p-4 text-[14px] leading-none md:px-5 md:py-8 xl:py-[49px] xl:text-[18px]">
        Sie sollten sich unbedingt zusätzlich absichern. Als Angestellte sind Sie zwar gesetzlich
        rentenversichert und zahlen abhängig von Ihrem Verdienst einen monatlichen Beitrag ein –
        allerdings ist vielen Arbeitnehmerinnen nicht bewusst, dass die gesetzliche Rente im Alter
        gerade mal für die Grundversorgung ausreicht.
      </p>
    </div>
  </li>
  <li>
    <div class="flex items-center gap-5 bg-gray-700 px-5 py-[5px]">
      <img
        class="md:h-[40px] md:w-[40px]"
        src="./img/svg/ic-card.svg"
        alt="icon arrow right"
        width="20"
        height="20"
        loading="lazy" />
      <h3 class="font-sparkasse_rg text-[14px] leading-none text-white md:text-[18px]">
        Wunsch nach finanzieller Unabhängigkeit
      </h3>
    </div>
    <div class="bg-white md:grid md:grid-cols-2">
      <picture>
        <source
          srcset="/img/card-component/3.webp 1x, /img/card-component/3@2x.webp 2x"
          type="image/webp" />
        <img
          src="/img/card-component/3.png"
          srcset="/img/card-component/3.png 1x, /img/card-component/3@2x.png 2x"
          alt="Whiteboard mit Aufklebern"
          class="block w-full xl:w-[480px]"
          width="480"
          height="241" />
      </picture>
      <p class="p-4 text-[14px] leading-none md:px-5 md:py-8 xl:py-[49px] xl:text-[18px]">
        Ein guter Lebensstandard und finanzielle Sicherheit – so stellen Sie sich Ihre Zukunft vor.
        Auch wenn diese noch in weiter Ferne zu liegen scheint, sollten Sie bereits jetzt handeln,
        um sich Ihre Wünsche zu erfüllen. Fakt ist: Je länger Sie warten, desto schwieriger wird es,
        ausreichend vorzusorgen.
      </p>
    </div>
  </li>
  <li>
    <div class="flex items-center gap-5 bg-gray-700 px-5 py-[5px]">
      <img
        class="md:h-[40px] md:w-[40px]"
        src="./img/svg/ic-card.svg"
        alt="icon arrow right"
        width="20"
        height="20"
        loading="lazy" />
      <h3 class="font-sparkasse_rg text-[14px] leading-none text-white md:text-[18px]">
        Unter 50 € Rücklagen
      </h3>
    </div>
    <div class="bg-white md:grid md:grid-cols-2">
      <picture>
        <source
          srcset="/img/card-component/4.webp 1x, /img/card-component/4@2x.webp 2x"
          type="image/webp" />
        <img
          src="/img/card-component/4.png"
          srcset="/img/card-component/4.png 1x, /img/card-component/4@2x.png 2x"
          alt="Whiteboard mit Aufklebern"
          class="w-full xl:w-[480px]"
          width="480"
          height="241" />
      </picture>
      <p
        class="row-start-1 p-4 text-[14px] leading-none md:px-5 md:py-8 xl:py-[49px] xl:text-[18px]">
        Bereits mit geringen Beiträgen können Sie sich optimal absichern. Dabei kommt Ihnen vor
        allem Ihr junges Alter zugute: Je früher Sie mit der Vorsorge beginnen, desto stärker wächst
        Ihr finanzielles Polster. Und das Beste: Sie können Ihre monatlichen Beiträge nicht nur
        jederzeit anpassen, sondern auch darauf zugreifen, wann immer Sie wollen.
      </p>
    </div>
  </li>
</ul>
