<div class="flex max-w-[710px] items-center justify-center bg-red py-9 pb-[169px] pt-[150px]">
  <div class="grid w-full max-w-sm gap-[50px]">
    <div class="flex h-[140px] w-[140px] items-center justify-center rounded-full bg-white">
      <img src="./img/svg/check-red.svg" alt="Check icon" width="80" h="80" loading="lazy" />
    </div>

    <div class="grid gap-5 text-white">
      <b class="text-[34px] font-bold">
        Wir freuen uns, dass Sie einen Termin mit Ihrem Berater vereinbart haben.
      </b>
      <p class="text-lg">Im Anschluss daran erhalten Sie Ihren Gutschein.</p>
    </div>
  </div>
</div>
