<div
  class="max-w-[400px] bg-white px-5 pb-[30px] pt-[30px] text-center md:col-start-2 md:max-w-[480px] md:pb-[50px] xl:mt-10 smOnly:row-span-2 smOnly:row-start-2 smOnly:mx-auto">
  <img
    src="./img/svg/handshake.svg"
    alt="Händedruck-Symbol"
    width="100"
    height="100"
    loading="lazy"
    class="mx-auto mb-4 md:mb-6 xl:mb-10" />
  <p class="mb-2.5 font-sparkasse_rg font-bold leading-none text-red md:text-[20px]">
    Ihr Ergebnis
  </p>
  <p class="font-sparkasse_rg text-[14px] italic leading-none md:text-[20px] xl:text-[25px]">
    Bei der Anlage Ihres Geldes wünschen Sie sich
    <span class="text-red">maximale Sicherheit.</span>
    Zum Glück haben wir genau das Richtige für Sie. Mit unserer passgenauen Lösung profitieren Sie
    von einer maximalen Sicherheit für Ihre Geldanlage und sichern sich ein lebenslanges
    zusätzliches Einkommen.
  </p>
</div>
