<div
  class="flex flex-col items-center justify-center bg-white py-10 text-center md:py-20 xl:py-[100px]">
  <div
    class="mb-8 flex h-20 w-20 items-center justify-center rounded-full bg-red md:mb-[50px] md:h-[140px] md:w-[140px]">
    <img src="./img/svg/check-white.svg" alt="Check icon" width="80" h="80" loading="lazy" />
  </div>
  <h2 class="title mb-3 !text-red md:mb-5">Danke, dass Sie alle Fragen beantwortet haben!</h2>
  <p class="mb-5 text-[15px] leading-normal md:mb-[50px]">
    Ihre bestmögliche Absicherung wird ermittelt.
  </p>

  <load ="partials/components/loader.html" />
</div>
