<div>
  <h2 class="title mb-[50px] text-black md:mb-10 md:text-center md:text-[20px] md:text-gray-700">
    Wie gut sind Sie über Ihre Zukunftsabsicherung informiert?
  </h2>
  <p class="mb-5 hidden text-center font-sparkasse_rg text-[13px] leading-none md:block">
    Verschieben Sie den Regler
  </p>
  <ul class="triangle relative mx-auto grid max-w-[620px] grid-cols-5">
    <li class="h-[35px]">
      <button
        type="button"
        class="h-full w-full bg-gray-200 active:bg-red"
        aria-label="Taste, um eine Antwort auszuwählen Sehr schlecht"></button>
    </li>
    <li class="h-[35px]">
      <button
        type="button"
        class="h-full w-full bg-gray-300 active:bg-red"
        aria-label="Taste, um eine Antwort auszuwählen zwischen Sehr schlecht und Neutral"></button>
    </li>
    <li class="h-[35px]">
      <button
        type="button"
        class="h-full w-full bg-gray-400 active:bg-red"
        aria-label="Taste, um eine Antwort auszuwählen Neutral"></button>
    </li>
    <li class="h-[35px]">
      <button
        type="button"
        class="h-full w-full bg-gray-500 active:bg-red"
        aria-label="Taste, um eine Antwort auszuwählen zwischen Neutral und Sehr gut"></button>
    </li>
    <li class="h-[35px]">
      <button
        type="button"
        class="h-full w-full bg-gray-600 active:bg-red"
        aria-label="Taste, um eine Antwort auszuwählen Sehr gut"></button>
    </li>
  </ul>
  <ul
    class="mx-auto grid max-w-[620px] grid-cols-3 py-5 font-sparkasse_rg text-[12px] font-bold leading-normal text-black smOnly:mb-[30px]">
    <li>Sehr schlecht</li>
    <li class="text-center">Neutral</li>
    <li class="text-end">Sehr gut</li>
  </ul>
  <p class="hidden text-center text-[14px] leading-[1.1] text-black md:block">1 von 5</p>
  <div class="mx-auto flex w-[95px] items-center justify-around bg-white smOnly:py-[18px]">
    <span class="h-4 w-4 rounded-full bg-red"></span>
    <span class="h-4 w-4 rounded-full bg-gray-200"></span>
    <span class="h-4 w-4 rounded-full bg-gray-200"></span>
    <span class="h-4 w-4 rounded-full bg-gray-200"></span>
    <span class="h-4 w-4 rounded-full bg-gray-200"></span>
  </div>
</div>
