<div>
  <div class="triangle_wrapper relative mx-auto max-w-[620px]">
    <ul class="grid grid-cols-5">
      <li class="triangle_button h-[35px]">
        <button
          type="button"
          class="h-full w-full bg-gray-200"
          aria-label="Taste, um eine Antwort auszuwählen Sehr schlecht"></button>
      </li>
      <li class="triangle_button h-[35px]">
        <button
          type="button"
          class="h-full w-full bg-gray-300"
          aria-label="Taste, um eine Antwort auszuwählen zwischen Sehr schlecht und Neutral"></button>
      </li>
      <li class="triangle_button h-[35px]">
        <button
          type="button"
          class="h-full w-full bg-gray-400"
          aria-label="Taste, um eine Antwort auszuwählen Neutral"></button>
      </li>
      <li class="triangle_button h-[35px]">
        <button
          type="button"
          class="h-full w-full bg-gray-500"
          aria-label="Taste, um eine Antwort auszuwählen zwischen Neutral und Sehr gut"></button>
      </li>
      <li class="triangle_button h-[35px]">
        <button
          type="button"
          class="h-full w-full bg-gray-600"
          aria-label="Taste, um eine Antwort auszuwählen Sehr gut"></button>
      </li>
    </ul>
    <p
      class="triangle absolute -bottom-4 left-[calc(50%-12px)] h-6 w-6 md:left-[calc(50%-26px)] md:h-10 md:w-[49px]">
      <img src="/img/svg/triangle.svg" alt="triangle" class="h-full w-full" />
    </p>
  </div>
  <ul
    class="mx-auto grid max-w-[620px] grid-cols-3 py-5 font-sparkasse_rg text-[12px] font-bold leading-normal text-black smOnly:mb-[30px]">
    <li>Sehr schlecht</li>
    <li class="text-center">Neutral</li>
    <li class="text-end">Sehr gut</li>
  </ul>
</div>
