@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-white font-normal not-italic;
}

@layer components {
  .title {
    @apply font-sparkasse_rg text-[17px] font-bold leading-none text-black md:text-[34px];
  }

  .section-btn {
    @apply inline-flex w-full items-center justify-center gap-1.5 bg-red px-5 py-[7px] text-base leading-normal text-white transition-opacity duration-300 hover:opacity-80 focus:opacity-80 md:mx-auto md:flex md:max-w-[236px] md:rounded-md md:text-[13px];
  }

  .login-form-text {
    @apply text-[13px] text-gray-600;
  }

  .login-form-label {
    @apply inline-flex cursor-pointer items-start gap-2.5;
  }

  .login-form-label-text {
  }

  .login-form-input {
    @apply block h-[50px] w-full max-w-[380px] border-0 border-b-2 border-gray-550 bg-gray-400 bg-opacity-30 transition-colors duration-300 focus:border-gray-600 focus:ring-0;
  }

  .check-box {
    @apply h-[22px] w-[22px] shrink-0 rounded-[4px] border border-gray-600 bg-center bg-no-repeat;
  }

  .login-form-checkbox:checked + .check-box {
    @apply border-gray-700 bg-gray-200 transition-colors duration-300;
  }

  .login-form-checkbox:focus + .check-box {
    @apply shadow-checkbox transition-all duration-300;
  }
  /* Hero */
  .hero {
    background-image: url('/img/hero/bg_1.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('/img/hero/bg_1@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    .hero {
      background-size: cover;
    }
  }
  @media screen and (min-width: 1280px) {
    .hero-card::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 436px;
      height: 54px;
      background-image: url('/img/svg/hero.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 436px 54px;
    }
  }
}
