@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-gray-100 font-normal not-italic text-gray-700;
}

@layer components {
  .title {
    @apply font-sparkasse_rg text-[17px] font-bold leading-none text-black md:text-[34px];
  }

  .section-btn {
    @apply inline-flex w-full items-center justify-center gap-1.5 bg-red px-5 py-[7px] text-base leading-normal text-white transition-opacity duration-300 hover:opacity-80 focus:opacity-80 md:mx-auto md:flex md:max-w-[236px] md:rounded-md md:text-[13px];
  }

  .bg-image {
    @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full object-cover;
  }

  .form-text {
    @apply text-[13px] text-gray-600;
  }

  .form-label {
    @apply inline-flex cursor-pointer items-start gap-2.5;
  }

  .login-form-label-text {
  }

  .login-form-input {
    @apply block h-[50px] w-full max-w-[380px] border-0 border-b-2 border-gray-550 bg-gray-400 bg-opacity-30 transition-colors duration-300 focus:border-gray-600 focus:ring-0;
  }

  .check-box {
    @apply mt-1 h-[22px] w-[22px] shrink-0 rounded-[4px] border border-gray-600 bg-[#F0F0F0] bg-contain bg-center bg-no-repeat;
  }

  .form-checkbox:checked + .check-box {
    @apply border-gray-700 transition-colors duration-300;
    background-image: url('/img/svg/check.svg');
  }

  .form-checkbox:focus + .check-box {
    @apply shadow-checkbox transition-all duration-300;
  }
  /* Hero */
  .hero {
    background-image: url('/img/hero/bg_1.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url('/img/hero/bg_1@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    .hero {
      background-size: cover;
    }
  }
  @media screen and (min-width: 1280px) {
    .hero-card::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 436px;
      height: 54px;
      background-image: url('/img/svg/hero.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 436px 54px;
    }
  }

  /* Advisory */
  .form-input {
    @apply w-full rounded-md border-gray-600 py-[18px] pl-5 text-sm transition-shadow duration-300 placeholder:text-sm placeholder:text-gray-600;
  }
  /* Check */
  .ribbon::after {
    content: 'Check machen und Gutschein sichern';
    right: calc(50% - 105px);
    bottom: -35px;

    @apply absolute z-10 block -rotate-6 bg-red p-[10px] text-center font-sparkasse_rg text-[14px] leading-none text-white md:w-[204px] md:max-w-[224px] smOnly:max-w-[204px];
  }

  .triangle::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 26px;
    background-image: url('/img/svg/triangle.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 26px;
  }
  @media screen and (min-width: 768px) {
    .ribbon::after {
      right: calc(50% - 106px);
    }
    .triangle::after {
      width: 49px;
      height: 40px;
      background-size: 49px 40px;
      bottom: -12px;
    }
  }
}
