<section class="relative md:py-[30px]">
  <div class="container">
    <img class="" src="" alt="" />

    <div class="">
      <p>
        Vereinbaren Sie jetzt einen Termin mit Ihrem Berater. Im persönlichen
        Gespräch klären wir gemeinsam, wie Sie sich optimal für die Zukunft
        absichern können. Ihr 10 € Gutschein wartet auf Sie.
      </p>

      <b>Termin vereinbaren</b>

      <form id="advisory-form">
        <label>
          <input type="text" />
        </label>

        <label>
          <input type="text" />
        </label>

        <label>
          <input type="email" />
        </label>

        <label>
          <input type="checkbox" />

          <span class="check-box"></span>
          <span class="check-text"
            >Ja, ich bin einverstanden, dass meine Angaben zum Zweck der
            Beratung und Information von Sparkasse Emsland verarbeitet und
            genutzt werden dürfen und akzeptiere die Hinweise zum Datenschutz.
            diese.</span
          >
        </label>
      </form>
    </div>
  </div>

  <div class="container px-0 md:px-8">
    <button class="section-btn md:ml-0" type="submit" form="advisory-form">
      Termin vereinbaren

      <load ="partials/components/arrow.html" />
    </button>
  </div>
</section>
