<section class="bg-gray-100 py-[50px]">
  <div class="container">
    <h2 class="title mb-[10px] md:mb-[50px] smOnly:px-5">
      Warum reicht die gesetzliche Rentenversicherung nicht aus?
    </h2>
    <ul
      class="mx-auto mb-[50px] grid gap-[30px] md:grid-cols-2 md:gap-5 smOnly:max-w-[400px] smOnly:grid-rows-2 smOnly:px-5">
      <li class="bg-white text-gray-800 md:px-[30px] md:pt-[30px]">
        <picture>
          <source
            srcset="/img/answers-for-question/1.webp 1x, /img/answers-for-question/1@2x.webp 2x"
            type="image/webp" />
          <img
            src="/img/answers-for-question/1.png"
            srcset="/img/answers-for-question/1.png 1x, /img/answers-for-question/1@2x.png 2x"
            alt="alte traurige Frau"
            class="w-full"
            width="315"
            height="215"
            loading="lazy" />
        </picture>
        <div class="py-5 md:py-[30px] smOnly:px-[15px]">
          <h3
            class="mb-2 font-sparkasse_rg text-[15px] font-bold leading-none md:mb-6 md:text-[22px]">
            Altersarmut
          </h3>
          <p class="font-sparkasse_rg text-xs md:text-[16px] md:leading-none xl:text-[18px]">
            Das derzeitige Rentenniveau liegt bei 48 % des Einkommens – und es wird weiterhin
            sinken. Bereits 2019 standen der Hälfte der Rentner*innen monatlich nur 1.000 € zur
            Verfügung. So geht man davon aus, dass bis 2036 jeder 5. in Westdeutschland von
            Altersarmut betroffen ist. In Ostdeutschland sogar jeder 3.
          </p>
        </div>
      </li>

      <li class="bg-white text-gray-800 md:px-[30px] md:pt-[30px]">
        <picture>
          <source
            srcset="/img/answers-for-question/2.webp 1x, /img/answers-for-question/2@2x.webp 2x"
            type="image/webp" />
          <img
            src="/img/answers-for-question/2.png"
            srcset="/img/answers-for-question/2.png 1x, /img/answers-for-question/2@2x.png 2x"
            alt="eine Person rechnet etwas auf einem Taschenrechner an einem Tisch"
            class="w-full"
            width="315"
            height="215"
            loading="lazy" />
        </picture>
        <div class="py-5 md:py-[30px] smOnly:px-[15px]">
          <h3
            class="mb-2 font-sparkasse_rg text-[15px] font-bold leading-none md:mb-6 md:text-[22px]">
            100.000–Euro–Frage
          </h3>
          <p class="font-sparkasse_rg text-xs md:text-[16px] md:leading-none xl:text-[18px]">
            Stellen Sie sich vor: Sie gehen mit 100.000 € auf dem Konto in Rente. Das hört sich erst
            einmal nach viel Geld an, richtig? Entnehmen Sie aber monatlich 1.000 € ist Ihr Geld
            bereits nach etwa acht Jahren aufgebraucht. Hinzu kommen die Folgen der Inflation: Ihr
            Geld verliert jährlich bis zu 3 % an Wert, da die Preise stetig in die Höhe steigen.
          </p>
        </div>
      </li>
    </ul>
  </div>

  <a href="/" class="section-btn">
    Ihren Berater kontaktieren

    <load ="partials/components/arrow.html" />
  </a>
</section>
