<header class="bg-red pb-[17px] pt-[18px] md:pb-[25px] md:pt-[22px]" role="banner">
  <div class="container">
    <div class="flex items-baseline justify-between pl-1.5 md:pl-8">
      <img
        class="block h-[25px] w-[84px] md:h-[49px] md:w-[167px]"
        src="./img/svg/logo_sparkasse.svg"
        alt="Sparkasse logo" />

      <button
        class="block border-0 border-white px-2.5 py-5 font-sparkasse_rg text-sm text-white underline md:rounded-[30px] md:border-2 md:px-5 md:py-2.5 md:no-underline"
        type="button">
        Abmelden
      </button>
    </div>
  </div>
</header>
